.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-background);
}

.formContainer {
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  padding: 20px;
}

.title {
  font-size: 3em;
}

.subtitle {
  color: var(--color-text);
}

.image {
  display: none;
}

@media (min-width: 640px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  .title {
    font-size: 4em;
  }

  .image {
    display: flex;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}
