.days-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: fit-content;
}

.days-buttons-container > button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0.8em;
  height: 3em;
  background: transparent;
  border: none;
  text-align: left;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  color: var(--color-text);
}

.days-buttons-container > button > span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-border);
  background-color: var(--color-background);
  padding: 0.15em 0.3em;
  border-radius: var(--border-radius-small);
}

.days-buttons-container > button > span:hover {
  filter: brightness(0.8);
}

.days-buttons-container > button.active {
  background-color: #df6d1488;
}

.days-buttons-container > button:hover {
  background-color: #df6d1488;
}

@media (min-width: 640px) {
  .days-container {
    width: 30%;
  }
}
