@import url("./variables.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  margin: 0;
  font-size: var(--font-size-large);
  font-weight: 700;
  color: var(--color-text);
}

h1 {
  line-height: 90%;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
  color: var(--color-text);
}

body {
  background-color: var(--color-background);
}

p.muted {
  color: var(--color-muted);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border-radius: var(--border-radius-small);
  color: var(--color-text);
  border: none;
  padding: 0.7em 1.4em;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-square {
  padding: 0.6em;
}

.button-square:hover {
  filter: brightness(0.8);
}

.button-primary {
  background-color: var(--color-primary);
  border: none;
  color: white;
}

.dark {
  .button-primary:hover {
    filter: brightness(0.96);
  }
}

.button-primary:hover {
  filter: brightness(1.1);
}

.button-secondary {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-border);
}

.button-secondary:hover {
  filter: brightness(0.96);
}

.button-outline {
  background-color: transparent;
  border: 1px solid var(--color-border);
}

.button-destructive {
  background-color: var(--color-destructive);
  color: white;
}

.button-destructive:hover {
  filter: brightness(0.96);
}

.full {
  width: 100%;
}

.link {
  color: var(--color-text);
  text-decoration: underline;
}

.link:hover {
  color: var(--color-primary);
}

.header-links > a {
  color: var(--color-text);
}

a:visited,
a {
  text-decoration: none;
}

select {
  padding: 2em;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-small);
  background-color: var(--color-input);
  color: var(--color-text);
}

option {
  background-color: var(--color-card);
  color: var(--color-text);
}

.border-b {
  border-bottom: 1px solid var(--color-border);
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: var(--color-background);
  border-radius: var(--border-radius-small);
  border: 1px solid var(--color-border);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.shadow {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.no-shadow {
  box-shadow: none;
}

.error-message {
  color: var(--color-destructive);
  font-size: var(--font-size-small);
}

.background {
  background-color: var(--color-background);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.link-button {
  text-decoration: none;
}

.overflow-hidden {
  overflow: hidden;
}

/* Inputs Styles */
p.input-description {
  font-size: 0.8em;
  color: var(--color-muted);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
}

.input-group label {
  font-weight: 500;
}

.input-group-label {
  margin-top: 8px;
  font-weight: 600;
}

textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  padding: 0.7rem 0.86rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-small);
  background-color: var(--color-input);
  color: var(--color-text);
  resize: none;
}

.textarea:focus {
  border-color: var(--color-primary);
  outline: none;
}

.textarea::placeholder {
  color: var(--color-muted);
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

::view-transition-new(root) {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><circle cx="20" cy="20" r="20" fill="white"/></svg>')
    center / 0 no-repeat;
  animation: scale 1s;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
}
.dark::view-transition-new(root) {
  animation: scale 1s;
}

@keyframes scale {
  to {
    mask-size: 200vmax;
  }
}
