:root {
  --color-text: #18181b;
  --color-background: #ffffff;
  --color-primary: #df6d14;
  --color-secondary: #f4f4f5;
  --color-muted: #71717b;
  --color-destructive: #e7000b;
  --color-border: #e4e4e7;
  --color-card: #ffffff;
  --color-input: #f5f5f5;
  --color-border-card: #d6d6d6;
  --color-background-card: #ffffff;
  --color-border-line-card: #bebebe;

  --font-size-small: 0.875em;
  --font-size-medium: 1.5em;
  --font-size-large: 3em;

  --border-radius-small: 0.6em;
  --border-radius-medium: 0.9em;

  .dark {
    --color-text: #fafafa;
    --color-background: #09090b;
    --color-primary: #df6d14;
    --color-secondary: #313131;
    --color-muted: #9f9fa9;
    --color-destructive: #ff6467;
    --color-border: #ffffff1a;
    --color-card: #18181b;
    --color-input: #ffffff26;
    --color-border-card: #e2e0e0;
    --color-background-card: #4e2e15;
    --color-border-line-card: #555555;
  }
}
