@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.skeleton {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-small);
  margin: 4px 0;
  animation: pulse 1.5s infinite ease-in-out;
}
