.trip-layout {
  display: flex;
  background-color: var(--color-background);
}

.avatars-container {
  display: flex;
  flex-direction: row;
}

.avatars-container > .avatar {
  outline: 3px solid var(--color-background);
  outline-offset: -1px;
  margin-left: -8px;
}

.avatars-container > .avatar:first-child {
  margin-left: 0;
}

.trip-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.tabs-container {
  display: grid;
  grid-template-columns: 100px 100px;
  gap: 0.2em;
  width: fit-content;
  padding: 0.2em;
}

.tabs-container > .tab {
  text-align: center;
  padding: 0.5em;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
}

.tabs-container > .tab:hover {
  background-color: var(--color-secondary);
}
.tabs-container > .tab.selected {
  background-color: var(--color-primary);
  color: white;
}

.plane-center-img {
  color: var(--color-text);
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
  margin-bottom: 6em;
}

.mid-text {
  font-size: 1.2em;
  color: var(--color-text);
  text-align: center;
  margin-bottom: 5px;
}
