.trip-layout {
  display: flex;
  background-color: var(--color-background);
}

.avatars-container {
  display: flex;
  flex-direction: row;
}

.avatars-container > .avatar {
  outline: 3px solid var(--color-background);
  outline-offset: -1px;
  margin-left: -8px;
}

.avatars-container > .avatar:first-child {
  margin-left: 0;
}

.trip-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.plane-center-img {
  color: var(--color-text);
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
  margin-bottom: 6em;
}

.mid-text {
  font-size: 1.2em;
  color: var(--color-text);
  text-align: center;
  margin-bottom: 5px;
}

.trip-header > p {
  color: var(--color-muted);
  font-size: 0.8em;
  margin-top: 0.3em;
  font-weight: 400;
  text-align: flex-start;
}
