@import url("../../variables.css");

.avatars-container {
  display: flex;
  flex-direction: row;
}

.avatars-container > .avatar {
  outline: 3px solid white;
  outline-offset: -1px;
  margin-left: -8px;
}
