.container-register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-background);
}

.container-form > p {
  color: var(--color-text);
}

.register-title {
  font-size: 4em;
}

p.input-description {
  font-size: 0.8em;
  color: var(--color-muted);
}

.img-register {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
