.container-register {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--color-background);
  min-height: 100vh;
}

.container-form > p {
  color: var(--color-text);
}

.register-title {
  font-size: 3em;
}

p.input-description {
  font-size: 0.8em;
  color: var(--color-muted);
}

.img-register {
  display: none;
}

@media (min-width: 640px) {
  .container-register {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .register-title {
    font-size: 4em;
  }

  .img-register {
    display: flex;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .input-group-password {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
}
