.new-itinerary-bg {
  background-color: var(--color-background);
}

.new-itinerary-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  width: 100%;
}

.new-trip-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--color-card);
  margin-top: 1em;
}

.inputs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.5em;
  column-gap: 1em;
}

.new-trip-button {
  max-width: 15em;
}

.users-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
}

.info-container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  width: 100%;
}

.days-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

.day {
  font-weight: 500;
}

.title-input {
  width: 100%;
}

.email {
  font-size: small;
}
