.trips-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-content: space-between;
  margin-bottom: 45px;
  gap: 1.5em;
}

.box-info {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--color-card);
  text-decoration: none;
  border: 1px solid var(--color-border);
  gap: 10px;
  position: relative;
  transition: all 0.2s ease;
  overflow: hidden;
}

.box-info:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  filter: brightness(1.05);
  color: var(--color-white);
  cursor: pointer;
}

.dark {
  .box-info:hover {
    filter: brightness(0.95);
  }
}

.box-info-data > h3 {
  line-height: 98%;
}

.box-info-data {
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: 100%;
  gap: 10px;
}

.box-info > img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
  object-fit: cover;
  transition: all 0.3s ease;
}

.box-info > img:hover {
  transform: scale(1.01);
}

.box-info:visited {
  color: var(--color-text);
}

a.box-info {
  text-decoration: none;
  color: var(--color-text);
}

.box-info-description {
  font-size: 0.9em;
  color: var(--color-muted);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box-info:hover h3 {
  color: var(--color-primary);
}

.box-info-date-container {
  display: flex;
  align-items: flex-end;
  color: var(--color-primary);
  margin-top: 0.8em;
  flex: 1;
  gap: 0.3em;
}

.box-info-date {
  color: var(--color-primary);
}
