.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0;
  gap: 0.5em;
  width: 100%;
}

.map-container {
  width: 100%;
  border-radius: var(--border-radius-medium);
  overflow: hidden;
}

@media (min-width: 640px) {
  .buttons-container {
    justify-content: space-between;
    flex-direction: row;
    margin-left: auto;
    width: fit-content;
  }
}
