@import url("../../variables.css");

header {
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  z-index: 100;
}

.container-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 20px;
  align-items: center;
}
