@import url("../../../variables.css");

input {
  width: 100%;
  padding: 0.65rem 0.86rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-small);
  background-color: var(--color-background);
  color: var(--color-text);
}

input:focus {
  border-color: var(--color-primary);
  outline: none;
}

input::placeholder {
  color: var(--color-muted);
}

input[type="time"] {
  padding: 0.502rem;
}

.error {
  border: 1px solid var(--color-destructive);
}
