.title-form {
  font-size: 3em;
  color: var(--color-text);
  text-align: center;
  margin-bottom: 2rem;
}

.home-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-button {
  margin-top: 0.5rem;
}

.form-first-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

@media (min-width: 640px) {
  .form-container {
    width: 50%;
  }
}
