.profile-container {
  background-color: var(--color-background);
}

.container.profile {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-avatar {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.container-avatar > .avatar {
  width: 3em;
  height: 3em;
}

.container-title > h1 {
  font-size: 3em;
}

.container-info {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 45px;
}

.box-info {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--color-card);
  text-decoration: none;
  border: 1px solid var(--color-border);
}

.box-info:hover {
  filter: brightness(1.05);
}

.dark {
  .box-info:hover {
    filter: brightness(0.95);
  }
}

.box-info-data {
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: 100%;
}

.box-info-data > h3 {
  line-height: 98%;
}

.box-info > img {
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
  object-fit: cover;
  transition: all 0.3s ease;
}

.box-info:visited {
  color: var(--color-text);
}

a.box-info {
  text-decoration: none;
  color: var(--color-text);
}

.box-info-description {
  font-size: 0.9em;
  color: var(--color-muted);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
  margin: 15px 0;
}

.box-info:hover {
  color: var(--color-white);
  cursor: pointer;
}

.box-info:hover h3 {
  color: var(--color-primary);
}

.box-info-date-container {
  display: flex;
  align-items: flex-end;
  color: var(--color-primary);
  margin-top: 0.8em;
  flex: 1;
  gap: 0.3em;
}

.box-info-date {
  color: var(--color-primary);
}

.edit-profile {
  text-decoration: none;
  color: var(--color-primary);
}

.edit-profile:hover {
  filter: brightness(0.8);
}

.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-no-trips {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.container-no-trips > h2 {
  font-size: 1.8em;
}

.container-no-trips > p {
  color: var(--color-muted);
}

.container-no-trips > a > button {
  margin-top: 10px;
}

.mountain {
  color: var(--color-text);
}

.trips-container {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  justify-content: space-between;
  margin-bottom: 45px;
  gap: 1em;
}
