.container-pageNotFound {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container-pageNotFound img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.container-notFound {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}
.container-notFound h2 {
  font-size: 2em;
  color: var(--color-primary);
  text-align: center;
}

.notFound-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--color-primary);
}

.notFound-subTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
}

.notFound-title h1 {
  font-size: 6em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: var(--color-primary);
}

.button-not-found {
  margin-top: 1em;
}

.notFound-icon {
  width: 6em;
  height: 6em;
}

@media (min-width: 640px) {
  .container-pageNotFound {
    grid-template-columns: 1fr 1fr;
  }

  .container-pageNotFound img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .container-notFound h2 {
    font-size: 3em;
  }

  .notFound-title h1 {
    font-size: 10em;
  }

  .notFound-icon {
    width: 10em;
    height: 10em;
  }
}
